@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
        font-family: 'Libre Baskerville', serif;
        background-color: #EEF1BD;
}

header {
    background-color: #C4A381;
}
#promptResult{
    text-align: center;
}

header h1 {
    text-align: center;
}

header li{
    display: inline;
    border: solid black 1px;
    margin: 0px 20px;

}
.navbar {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 0;
    border-right: 1px;
    border-color: black;
}

.radio {
    display: inline;
}

footer {
    background-color: #C4A381;
    text-align: center;

}

 footer li {
    display: inline;
    margin: 10px;
 }

img {
    float: left;
    width: 50%;
}

#emoji {
    width: 2em;
}